.com_pwtsitemap header.header {
	background-image: url('../images/pwt-bg.jpg');
	background-size: cover;
}

.com_pwtsitemap header.header .icon-pwtsitemap {
	background-image: url('../images/pwt-sitemap.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;
	height: 35px;
	position: relative;
	margin-bottom: -10px;
	margin-right: 5px !important;
}

.com_pwtsitemap .pwt-extensions {
	font-size: 1.05em;
	line-height: 130%;
}

.com_pwtsitemap .pwt-extensions p:last-child {
	margin-bottom: 0;
}

.com_pwtsitemap .pwt-extensions .pwt-heading {
	margin: 20px 0 8px;
	font-size: 1.2em;
	font-weight: 700;
}

.com_pwtsitemap .pwt-extensions .pwt-section {
	margin-bottom: 16px;
}

.com_pwtsitemap .pwt-extensions .pwt-section:last-child {
	margin-bottom: 0;
}

.com_pwtsitemap .pwt-extensions .pwt-section--border-top {
	border-top: 1px solid #CCC;
	padding-top: 16px;
}

.com_pwtsitemap .pwt-extensions .pwt-extension-logo {
	max-height: 75px;
}

.com_pwtsitemap .pwt-extensions .btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}

.com_pwtsitemap .pwt-extensions .btn-group-justified > .btn,
.com_pwtsitemap .pwt-extensions .btn-group-justified > .btn-group {
	display: table-cell;
	float: none;
	width: 1%;
}

.com_pwtsitemap .pwt-extensions .btn-group-justified > .btn .btn,
.com_pwtsitemap .pwt-extensions .btn-group-justified > .btn-group .btn {
	width: 100%;
}

.com_pwtsitemap form#adminForm td {
	position: relative;
}

.com_pwtsitemap form#adminForm span.save-indication {
	position: absolute;
	left: 10px;
	top: 15px;
}

.com_pwtsitemap form#adminForm span.save-indication-robots {
	left: -10px;
}

.com_pwtsitemap .sitemap-create select {
	margin-bottom: 0;
}

.table-vcenter > tbody > tr > td {
	vertical-align: middle;
}
