// Colours 
$mainBlue: #002A6F;
$yellow: #faa73f;
$red: #f44321;
$green: #61BF1A;
$blue: #5091cd;

// Light Colours
$lightGreen: #89c764;
$lightBlue: #75bee9;
$lightYellow:#fec34d;
$lightRed:#f27042;

// Very Light Colours
$veryLightBlue: #e2eff7;

/* General */
body {
    color: #464646;
}
h1, h2, h3, h4, .g-title {
  color: $mainBlue;
  font-family: "Roboto Slab";
  font-weight: 700;
}
.right {float:right;}
.left {float:left;}

#g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container .g-menu-item-title {
    padding-right: 0;
}

.g-superpromo {
    font-weight: 300;
	color: #fff;
}

a {
  font-weight: bold;
}

.g-content {
  padding: 0 !important;
}

/* Logo */
a.g-logo {
    padding-left: 0px;
}

/* header */
#g-header {
	background: $mainBlue;
	padding: 0 0 20px 0;
}
#g-header h3 {
  color: #fff;
}
.pEvents #g-header span#next3rdTuesday:hover {
  color: #fff;
}

/* Slideshow */
#g-slideshow {
  background: none;
}

/* Showcase */
#g-showcase {
  color: $mainBlue;
}
#g-showcase.box-darkgrey.g-outer-box {
  background:#ECECEC !important;
}

/* Off Canvas (Mobile Menu) */
#g-offcanvas {
  background: $red;
}
#g-offcanvas li {
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px #fff solid;
}
#g-offcanvas li a {
    padding: 4% 0;
}

/* Home */
.pHome #g-header h3, .pHome #g-showcase h3 {
  font-family: "Open Sans";
}

/* Above */
#g-above {
  color: #444444;
}
#g-above {background: none;border-top:0;}
#g-above .g-content, #g-above .header-image p {margin:0;padding:0;} 
#g-above .header-image {margin: 10px 0 0 0;}
.pHome #g-above .g-content {
    margin: 0.625rem;
    padding: 0.938rem;
}

/* Footer */
#g-footer a.yellow {
  color:$yellow;
}


/* Nav */
/* New Nav */


nav {text-align: right;}

	/* General Menu */
  #g-navigation li {
    list-style-type: none;
  }
	.nav {
		margin: 0;
	}
	.nav.menu {
		float:right;
	}
	.nav.menu li {
		float: left;
		margin: 0 5px 3px 5px;
		font-weight:bold;
	}


	/* Low Menu */
	.lowMenu {
		float: left;
		width: 100%;
		margin: 2% 0;
		font-weight:normal;
	}
	body .nav.menu .lowMenu {
		border-bottom:2px solid transparent;
	}
	.lowMenu ul.menu a {font-size: 1.3em;}


	/* Active on Top */
	.topMenu .nav.menu li.alias-parent-active a {
		color: #aaa;
	}




  a.mEvents:after {
    content: " / ";
}

	/* Top Menu */
  /* Annimate the dotted underline */
  @keyframes underlineEvents {
    0%   {border-bottom: dotted 2px rgba(0, 42, 111, 1);}
    25%  {border-bottom: dotted 2px rgba(0, 42, 111, 0.75);}
    50%  {border-bottom: dotted 2px rgba(0, 42, 111, 0.5);}
    75%  {border-bottom: dotted 2px rgba(0, 42, 111, 0.25);}
    100% {border-bottom: dotted 2px rgba(0, 42, 111, 0.1);}
}
 /* Events - Purple - #8560a8 */
  .mEvents, body.pHobbyist .active .mEvents, .pHobbyist .alias-parent-active a, .topMenu .nav.menu .alias-parent-active a.mEvents,
  #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mEvents,
  .lowMenu .nav.menu .active .mEvents /*, 
  body.com_jem .topMenu .nav.menu *:not(.active) .mEvents */ {
    color: $mainBlue;
      border-bottom:2px solid transparent;
  }
  .topMenu .nav.menu :not(.active) a.mEvents:hover {
  	border-bottom: dotted 2px $mainBlue;
  }

  .mEvents:hover {
    color: #182035;
      border-bottom: dotted 2px #182035;
  	animation-name: underlineEvents;
  	animation-duration:0.25s;      
  }
  body.pEvents .lowMenu .mEvents, body.pHobbyist .lowMenu a, .alias-parent-active .lowMenu a {
    color: $mainBlue;
  }
  body.pEvents .lowMenu .mEvents, body.pEvents .nav.menu .active a, .alias-parent-active .lowMenu .active a {
      border-bottom: dotted 2px $mainBlue;
  }

  /* Annimate the dotted underline */
  @keyframes underlineHobbyist {
    0%   {border-bottom: dotted 2px rgba(244, 67, 33, 1);}
    25%  {border-bottom: dotted 2px rgba(244, 67, 33, 0.75);}
    50%  {border-bottom: dotted 2px rgba(244, 67, 33, 0.5);}
    75%  {border-bottom: dotted 2px rgba(244, 67, 33, 0.25);}
    100% {border-bottom: dotted 2px rgba(244, 67, 33, 0.1);}
}

  /* Hobbyist - Red - $red */
  .mHobbyist, body.pHobbyist .active .mHobbyist, .pHobbyist .alias-parent-active a, .topMenu .nav.menu .alias-parent-active a.mHobbyist,
  #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mHobbyist,
  .lowMenu .nav.menu .active .mHobbyist, .pHome .topMenu .nav.menu a.mHobbyist /*,
  body.com_jem .topMenu .nav.menu *:not(.active) .mHobbyist */{
    color: $red;
    border-bottom:2px solid transparent;
  }
  .topMenu .nav.menu :not(.active) a.mHobbyist:hover {
	border-bottom: dotted 2px $red;
  }

  .mHobbyist:hover {
    color: $red;
      border-bottom: dotted 2px $mainBlue;
	  animation-name: underlineHobbyist;
      animation-duration: 0.25s;      
  }

  @keyframes underlineBusiness {
    0%   {border-bottom: dotted 2px rgba(122, 193, 67, 1);}
    25%  {border-bottom: dotted 2px rgba(122, 193, 67, 0.75);}
    50%  {border-bottom: dotted 2px rgba(122, 193, 67, 0.5);}
    75%  {border-bottom: dotted 2px rgba(122, 193, 67, 0.25);}
    100% {border-bottom: dotted 2px rgba(122, 193, 67, 0.1);}
}

		/* Business Owner - Green - #7ac143 */

		.mBusiness, body.pHome .mBusiness, body.pBusiness .LowMenu li a.mBusiness,
    #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mBusiness,
    .lowMenu .nav.menu .active .mBusiness, .pHome .topMenu .nav.menu a.mBusiness,
    body.com_jem .topMenu .nav.menu *:not(.active) .mBusiness
		 {
		  color: #7ac143;
   	  border-bottom:2px solid transparent;
		}
    .topMenu .nav.menu :not(.active) a.mBusiness:hover {
    	border-bottom: dotted 2px #7ac143;
    }		

		.mBusiness:hover {
		  color: #7ac143;
	   	border-bottom: dotted 2px #7ac143;
	   	animation-name:underlineBusiness;
	   	animation-duration:0.25s;
		}
    body.pBusiness .lowMenu .mBusiness, body.pBusiness .nav.menu .active a, body.pBusiness .alias-parent-active .lowMenu .active a {
	   	  border-bottom: dotted 2px #7ac143;
		}


  @keyframes underlineDesigner {
    0%   {border-bottom: dotted 2px rgba(249, 165, 65, 1);}
    25%  {border-bottom: dotted 2px rgba(249, 165, 65, 0.75);}
    50%  {border-bottom: dotted 2px rgba(249, 165, 65, 0.5);}
    75%  {border-bottom: dotted 2px rgba(249, 165, 65, 0.25);}
    100% {border-bottom: dotted 2px rgba(249, 165, 65, 0.1);}
}
		/* Designer - Yellow - #f9a541 */
    .mDesigner, body.pDesigner .active .mDesigner, .pDesigner .alias-parent-active a, .topMenu .nav.menu .alias-parent-active a.mDesigner,
    #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mDesigner,
    .lowMenu .nav.menu .active .mDesigner,.pHome .topMenu .nav.menu a.mDesigner,
    body.com_jem .topMenu .nav.menu *:not(.active) .mDesigner {
  		  color: #f9a541;
	   	  border-bottom:2px solid transparent;
		}
    .topMenu .nav.menu :not(.active) a.mDesigner:hover {
    	border-bottom: dotted 2px #f9a541;
    }		
		.mDesigner:hover {
		  color: #f9a541;
	   	  border-bottom: dotted 2px $mainBlue;
	   	  animation-name:underlineDesigner;
	   	  animation-duration:0.25s;
		}

  @keyframes underlineDeveloper {
    0%   {border-bottom: dotted 2px rgba(80, 145, 205, 1);}
    25%  {border-bottom: dotted 2px rgba(80, 145, 205, 0.75);}
    50%  {border-bottom: dotted 2px rgba(80, 145, 205, 0.5);}
    75%  {border-bottom: dotted 2px rgba(80, 145, 205, 0.25);}
    100% {border-bottom: dotted 2px rgba(80, 145, 205, 0.1);}
}
		/* Developer - Blue - $blue */
    .mDeveloper, body.pDeveloper .active .mDeveloper, .pDeveloper .alias-parent-active a, .topMenu .nav.menu .alias-parent-active a.mDeveloper,
    #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mDeveloper,
    .lowMenu .nav.menu .active .mDeveloper,.pHome .topMenu .nav.menu a.mDeveloper,
    body.com_jem .topMenu .nav.menu *:not(.active) .mDeveloper {
        color: $blue;
	   	  border-bottom:2px solid transparent;
		}
    .topMenu .nav.menu :not(.active) a.mDeveloper:hover {
    	border-bottom: dotted 2px $blue;
    }		
		.mDeveloper:hover {
		  color: $blue;
	   	  border-bottom: dotted 2px $blue;
	   	  animation-name:underlineDeveloper;
	   	  animation-duration:0.25s;
		}


  @keyframes underlineContact {
    0%   {border-bottom: dotted 2px rgba(0, 42, 111, 1);}
    25%  {border-bottom: dotted 2px rgba(0, 42, 111, 0.75);}
    50%  {border-bottom: dotted 2px rgba(0, 42, 111, 0.5);}
    75%  {border-bottom: dotted 2px rgba(0, 42, 111, 0.25);}
    100% {border-bottom: dotted 2px rgba(0, 42, 111, 0.1);}
}
		/* Contact - Dark Blue - $mainBlue */
    .mContact, body.pDeveloper .active .mContact, .pDeveloper .alias-parent-active a, .topMenu .nav.menu .alias-parent-active a.mContact,
    #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mContact,
    .lowMenu .nav.menu .active .mContact,
    body.com_jem .topMenu .nav.menu *:not(.active) .mContact {
        color: $mainBlue;
	   	  border-bottom:2px solid transparent;
		}
    .topMenu .nav.menu :not(.active) a.mContact:hover {
    	border-bottom: dotted 2px $mainBlue;
    }		
		.mContact:hover {
		  color: #182035;
	   	  border-bottom: dotted 2px #182035;
	   	  animation-name:underlineContact;
	   	  animation-duration: 0.25s;
		}

		/* Blog*/

		.mBlog, body.pBlog .active .mBlog, .pBlog .alias-parent-active a, .topMenu .nav.menu .alias-parent-active a.mBlog,
    #g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container.mBlog,
    .lowMenu .nav.menu .active .mBlog,.pHome .topMenu .nav.menu a.mBlog,
    body.com_jem .topMenu .nav.menu *:not(.active) .mBlog {
			color: $mainBlue;
      border-bottom:2px solid transparent;
		}
        .topMenu .nav.menu :not(.active) a.mBlog:hover {
      border-bottom: dotted 2px $mainBlue;
    } 
		.mBlog:hover {
		  color: $mainBlue;
	   	  border-bottom: dotted 2px $mainBlue;
        animation-name:underlineContact;
        animation-duration: 0.25s;        
		}


	/* Lower Menu Child Items */
	.lowMenu ul li, .lowMenu ul li a {
		display:inline;
		float:left;
	}
	.lowMenu ul ul li {
		display:none;
		float:left;
	}
	.lowMenu ul li:hover ul li, .lowMenu ul li:hover ul li a {
		float: left;
		display:inline;
	}
	.lowMenu ul ul, lowMenu ul {
		display:block;
		vertical-align:top;
	}

/* Hide the silly Ganry subtitle which is the link title */
.g-menu-item-subtitle {
	display:none;
}


/* dropdown */
	.ima {float:left;}
	.fancy-select.ima {width: 80%;}

		/* Dazzle */
		div#dazzle {
	/*		float: left; */
		}

/* Fix original nav border */
#g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container .g-menu-item-title {
	border:none;
}
nav.g-main-nav ul.g-toplevel li:hover {
	text-decoration:none !important;
	border-bottom:0 !important;
}




/* Expanded */
#g-expanded {
	background: none #ECECEC;
	font-size: 1.5rem;
	color: $mainBlue;
  padding: 0 0 20px 0;
}
#g-expanded .g-title {
	border-bottom: $mainBlue solid 3px;
	white-space: pre-wrap;
}

/* Copyright */
#g-copyright {
  padding: 1% 0;
  border-top: 5px solid $mainBlue;  
  text-align: left;
}
#g-copyright .g-container {
    border: none;
}
#g-copyright .g-content {
    padding: 0;
    margin: 0;
}
#g-copyright img {
  max-width: 90%;
}
#g-copyright a {
  color: $mainBlue;
}
#g-copyright a:hover {
  text-decoration: underline;
}
#g-copyright .menuFooter a {
    color: #578AD6;
}
#g-copyright a:hover {
    color: #5A5E63;
}
#g-copyright p {
    padding: 0 5px;
}

// Footer
.menuFooter ul {width: 100%;text-align: center;}
.menuFooter ul li {
  text-align: center;
  font-weight: normal;
}
.menuFooter ul li a {
  color: $mainBlue;
}

/* JEM */
body.com_jem .g-content {
	margin-top:0;
	padding-top:0;
}
div#jem {
  background-color: #fff;
  border: 0;
  color: $mainBlue;
}
div#jem a {
  text-decoration: underline;
}
div#jem div#iCal a {
  text-decoration: none;
}
div#jem a:hover {
  text-decoration: none;
}
div#jem .buttons a {
  border: none !important;
  padding: 0 !important;
}
.buttons a {
  border: none !important;
  padding: 0 !important;
}

.jemeventlist h1 {
  color: $mainBlue;
}

div#jem table.eventtable th {
    background-color: $mainBlue;
    border: 1px solid $mainBlue;
}
div#jem table.eventtable tr.featured td {
    background-color: #fff;
}
div#jem table.eventtable tr.featured td a, div#jem table.eventtable tr.featured td {
    color: #333333;
}
div#jem table.eventtable td, div#jem table.eventtable {
	border:0;
	background:none;
}
div#jem table.eventtable td {
	padding: 1em 0.4em;
}
#jem img.icon-inline {display:none;}
div#jem h2 {border:0;border-bottom: dotted 2px $mainBlue;background: none;padding-left:0;}
.event, .venue {
    width: 50%;
    float: left;
    padding: 0 1%;
}
div#jem dt {
  padding: 0;
}
.event_info span {
    line-height: 30px;
}
div#jem tr {
    border-bottom: 2px dotted #e1e1e1;
}
div#jem thead tr {
    border-bottom: none;
}

ul.jemmod {
    list-style: none;
    margin: 10px 0 0 0;
}
div#jem table.eventtable tr:hover td {
  background: #ebebeb;
}

/* Annimations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Bounce in Down */
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* Annimated Border */
/* The animation code */
@keyframes borderAnimate {
    0%   {border-bottom:rgba(255, 255, 255, 0) dotted 2px}
    50%  {border-bottom:rgba(255, 255, 255, 1) dotted 2px}
    100% {border-bottom:rgba(255, 255, 255, 0) dotted 2px}
}

/* The element to apply the animation to */
div.fancy-select div.trigger {
    animation: borderAnimate 1.5s infinite;
}

/* NExt meeting */
span#next3rdTuesday {
    font-size: 1.6em;
    color: $red;
}
.countdown-mod h2 {
	font-size: 1.6em;	
}

ul.breadcrumb.jl-breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 5px 0 32px 10px;    
}

.breadcrumb li {
    float: left;
    color:$mainBlue;
    margin: 0 5px 10px 0;
}
.breadcrumb li.active {
    border-bottom: 2px dotted $mainBlue;
    color: $mainBlue;
}
.com_jem .moduletable.jl-breadcrumbs {
    margin-top: 20px;
}

/* Dropdown */
div#typed {
    margin-top: 13px;
}

/* Features Bullets */
.features li {
  float:left;
  width:100%;
  padding-right: 1%;
  font-size: 1rem;
}
div.featureList {
  margin-bottom: 1%;
}
div.spacer {
  width: 100%;
}

.pHome a.cta {
  color:#ED2E38;
  border-bottom: #ED2E38 dotted 2px;
  padding: 0 0 4px 0;
}

/* Footer */
#g-footer {
    background: #fff;
    color: #383838;
}
#g-footer a {color:#383838;border-bottom: dotted #383838 2px; }
#g-extension {background: none;}
.g-branding {
    margin-top: 39px;
}
.g-social.social-items, .totop  {
    margin-top: 37px;
}
.totop {
  text-align: right;
}

/* Easy Blog */

/* EB Navbar */
div#fd.eb .eb-navbar-collapse {
  background: $mainBlue;
  border-color: #110e3c;
}

div#fd.eb .eb-navbar-nav {
  background: $mainBlue;
}

div#fd.eb .eb-navbar-nav>li.open>a, div#fd.eb .eb-navbar-nav>li>a:hover, div#fd.eb .eb-navbar-nav>li>a:focus, div#fd.eb .eb-navbar-nav>li.active>a {
  background: $red;
}
div#fd.eb .eb-navbar-search .form-control, div#fd.eb .eb-navbar-nav>li>a {
  color: #fff;
}
::-webkit-input-placeholder {
   color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;  
}
:-ms-input-placeholder {  
   color: #fff !important;  
}
::placeholder {
  color:#fff !important;
}
div#fd.eb .eb-navbar-login .btn.btn-primary {
  background: $blue !important;
  border-color:$blue !important;
}
div#fd.eb .eb-navbar-login .btn.btn-primary:hover {
  background: $lightBlue !important;
  border-color:$blue !important;  
}
.eb-entry-article a, .item-page a {
  color: $yellow;
}
.eb-navbar-login a.float-r {
    color: #fff;
}

/* Author */
.eb-entry-author h3, .eb-entry-author h4, .eb-entry-author a {
  color: $red;
}
.eb-entry-author {
  padding: 0% 3%;
  border: solid 1px $mainBlue;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div#fd.eb h3.eb-author-name.reset-heading {
    float: left;
    display: inline;
    margin-right: 10px;
  }
  div#fd.eb .eb-avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #002a6f;    
}

/* Comments */
div#fd.eb .eb-post-comments-list {
    padding: 1%;
    background: #fff;
    border: dotted 2px $red;
}

/* Blogs */
.eb-post {
    border-bottom: 1px solid #898989;
    padding-bottom: 1%;
}

/* Blogs Buttons */
.col-cell.eb-post-more {
    float: right;
}
div#fd.eb .btn.btn-default {
  background: $green !important;
  color: #fff !important;
}
div#fd.eb .btn.btn-default:hover {
  background: $lightGreen !important;
}

/* Authors & Categories Buttons */
div#fd.eb .eb-authors-stats .btn.btn-default, div#fd.eb .eb-authors-stats .eb-stats-nav>li.active>.btn, div#fd.eb .eb-category-stats .btn.btn-default, 
div#fd.eb .eb-category-stats .eb-stats-nav>li.active>.btn {
  background: $yellow !important;
}
div#fd.eb .eb-authors-stats .btn.btn-default:hover, div#fd.eb .eb-authors-stats .eb-stats-nav>li.active>.btn:hover, 
div#fd.eb .eb-category-stats .btn.btn-default:hover, div#fd.eb .eb-category-stats .eb-stats-nav>li.active>.btn:hover {
  background: $lightYellow !important;
}

/* General Buttons */
div#fd .btn-primary {
  background: $green !important;
  color: #fff !important;
  border-color: $green !important;
}
div#fd .btn-primary:hover {
  background: $lightGreen !important;
  color: #fff !important;
  border-color: $green !important;  
}

/* End Easy Blog */

/* Tabs */
div#fd .nav-tabs>li>a {
  color: $mainBlue;
}

.survey div div {width: 50%;}

/* Custom Modules */

/* JBounce */
body #jbounce-jmodal .jmodal {
  height: 790px;
}
iframe#ff_frame7 {
  max-height: 765px;
}
#jbounce-jmodal .form-actions {
    padding: 7px 19px 20px 20px;
    margin-top: 0;
}

// import breakpoints
@import "dependencies";


//  typically min 75rem  LARGE DESKTOP
@include breakpoint(large-desktop-range) {
   .jandbeyond {
    text-align: center; 
    padding-top: 86px;
  } 
}
// typically range 60rem to 74.938rem  DESKTOP
@include breakpoint(desktop-range) {
    .features li {
      float:left;
      width:29%;
      margin: 0 4% 0 0;
      font-size: 1rem;      
    } 
   .jandbeyond {
    text-align: center; 
    padding-top: 120px;
  } 
  .g-branding, .totop {
      margin-top: 3px;
  } 
}

// typically 48rem to 59.938rem  TABLET
@include breakpoint(tablet-range) {
    div.fancy-select div.trigger {
      padding: 16px 24px 9px 9px;
    }
    div.fancy-select {
      font-size: 3rem;
    }
    .features li {
      width:100%;
      padding-right: 0%;
      font-size: 1.5rem;
    }  
  .jandbeyond {
    padding-top: 177px;
  } 
  .g-branding, .g-social.social-items, .totop.g-particle, .totop.g-particle {
      margin-top: 3px;
  }
  section#g-navigation.headerSection .subMenuWrap {
    top: 30px;
  }    
}
// typically 30rem to 47.938rem  LARGE MOBILE
@include breakpoint(large-mobile-range) {
    .features li {
      float:left;
      width:29%;
      margin: 0 4% 0 0;
      font-size: 1rem;      
    }
  .jandbeyond {
    padding-top: 0px;
  } 
  .g-branding, .g-social.social-items, .totop.g-particle {
      margin-top: 3px;
  }  
  .subMenuWrap, .actionMenu {
    display:none;
  }
}
// typically max 30rem  SMALL MOBILE
@include breakpoint(small-mobile-range) {
  .g-branding, .g-social.social-items, .totop.g-particle {
      margin-top: 0;
  } 
   .subMenuWrap, .actionMenu {
    display:none;
  }
}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {

}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}