@import "dependencies";

/* CSS Changes by BW */
.pHome .nextJugl-wrap p {font-size: 1.4rem;}
.pHome .nextJugl-wrap .initModifi {
  font-size: 1.55rem; 
  font-weight: 700;
}

/* Header / Menu Area */
a.g-logo {padding-left: 10px}

#g-navigation {border-bottom: 3px solid #002A6F;}
#g-navigation > .g-container {margin: 0.5rem auto; position:relative}
header#g-header {padding: 5px 0 5px;}
section#g-navigation.headerSection .subMenuWrap {
  position: absolute;
  right: 0;
  top: 58px;
}

/* Front Page Header Stuff */
.ima {height: 98px;}
.ima h3 {margin: 0.8rem 0 0;}

.ima .type-wrap {padding-left: 5px; }
.ima .type-wrap h3 {margin-top: -6px;}

.whoru {padding-left: 10px;}
.whoru .custom .wrap p {margin-bottom: 0;}
.whoru #typed {
  color: white; 
  margin-top: -6px;
  font-size: 4rem;
}
.whoru #dazzle {margin: 0 auto;}
.whoru #dazzle h3 {margin-top: 0; text-align: center}
.pHome header#g-header div.g-container div.g-grid div.g-block div.g-content {
  margin: 0.5em;
  padding: 0;
}

#jAd {margin: 0 auto;}
#jAd p {margin: 0; text-align: center; padding-top: 7px;}

/* Next JUGL */
span#next3rdTuesday {
  color: #002A6F;
  font-size: 1.6em;
}
span#next3rdTuesday:hover {
  color: #002A6F;
  text-transform: underline;
}

#g-header .custom #next3rdTuesday {color: white}

/* Events Page */
.pEvents span#next3rdTuesday {
  color: #fff;
  font-size: 1.6em;
}
/* Events Location */
div#jem dl dd {margin-left: 120px;}
div#jem dl dt {
  border-bottom: none; 
  width: auto;
}
div#jem dl dd.website {margin-left: 45px;}

.pEvents span#next3rdTuesday:hover {
  color: #5091cd;
  text-transform: underline;
}
.pEvents .eventset .eventWrap .calWrap {width: 15%;}
.pEvents .eventset .eventWrap .calWrap > div {
  margin: 0 auto !important; 
  float: none !important;
}
.pEvents .eventset .eventWrap .desc {width: 83%;}
.pEvents .eventset .eventWrap > div {display: inline-block;}

/* Banner Advert */
.bw-beatingheart {
  margin: 0 auto;
  width: 728px;
}

/* All Pages */
#g-slideshow,
 #g-slideshow .g-container {background-color: #F5F5F5;}
#g-slideshow .g-container .g-content {
  padding: 5px 0 0 15px; 
  margin: 0;
}

.pHobbyist #g-extension {background-image: none;}
.actionMenu li a.mContact::after {content: " / ";}
.actionMenu li:last-of-type a.mContact::after {content: "";}

/* Temp */
#jem.event_id50 h2.description {display: none;}
.view-eventslist #jemmodulebanner .eventset {border: 2px dotted orange;}


/* Miscellaneous */
.noMarBott h3 {margin-bottom: 0;}
.btn {text-shadow: none;}

/* Login */
.site #comSocialConnectContainer .socialConnectInput {height: auto;}

/* JDay Poland Banner */
.platform-content .jday-poland .custom {width: 40%; margin: 0 auto}
.platform-content .jday-poland .custom p a {text-align: center;}

/* Headeroom.js */
// Fixed Header On Scroll - Advanced
.headroom {
  @include transition(transform 200ms linear);
}
.headroom--pinned {
  @include transform(translateY(0%));
}
.headroom--unpinned {
  @include transform(translateY(-100%));
}

#g-navigation.headroom--not-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    left: 0;
}

.g-offcanvas-toggle.headroom--not-top {
    position: fixed;
    z-index: 1002;
    &.headroom--unpinned {
        top: 0;
    }
}

.g-offcanvas-open {
    #g-navigation.headroom--not-top {
        left: $offcanvas-width;
    }
    .g-offcanvas-toggle.headroom--not-top {
        left: $offcanvas-width + 0.7rem;
    }
}

#g-navigation.headroom--not-top, .g-offcanvas-toggle.headroom--not-top {
    @include transition(all 0.3s);
}

/* Blog Listings */
.pBlogListing #fd.eb .eb-post-meta,
 .pBlogListing #fd.eb .eb-rating {margin: 0 0 10px;}
.pBlogListing #fd.eb .eb-posts .eb-post + .eb-post {border-top: none;}
.pBlogListing .eb-post-more {margin-top: 8px}

// import breakpoints
@import "dependencies";


//  typically min 75rem  LARGE DESKTOP
@include breakpoint(large-desktop-range) {
   .jandbeyond {
    text-align: center; 
    padding-top: 86px;
  } 
}
// typically range 60rem to 74.938rem  DESKTOP
@include breakpoint(desktop-range) {
    .features li {
      float:left;
      width:29%;
      margin: 0 4% 0 0;
      font-size: 1rem;      
    } 
   .jandbeyond {
    text-align: center; 
    padding-top: 120px;
  } 
  .g-branding, .totop {
      margin-top: 3px;
  } 
}

// typically 48rem to 59.938rem  TABLET
@include breakpoint(tablet-range) {
    div.fancy-select div.trigger {
      padding: 16px 24px 9px 9px;
    }
    div.fancy-select {
      font-size: 3rem;
    }
    .features li {
      width:100%;
      padding-right: 0%;
      font-size: 1.5rem;
    }  
  .jandbeyond {
    padding-top: 177px;
  } 
  .g-branding, .g-social.social-items, .totop.g-particle, .totop.g-particle {
      margin-top: 3px;
  }
  section#g-navigation.headerSection .subMenuWrap {
    top: 30px;
  }    
}
// typically 30rem to 47.938rem  LARGE MOBILE
@include breakpoint(large-mobile-range) {
    .features li {
      float:left;
      width:29%;
      margin: 0 4% 0 0;
      font-size: 1rem;      
    }
  .jandbeyond {
    padding-top: 0px;
  } 
  .g-branding, .g-social.social-items, .totop.g-particle {
      margin-top: 3px;
  }  
  .subMenuWrap, .actionMenu {
    display:none;
  }
}
// typically max 30rem  SMALL MOBILE
@include breakpoint(small-mobile-range) {
  .g-branding, .g-social.social-items, .totop.g-particle {
      margin-top: 0;
  } 
   .subMenuWrap, .actionMenu {
    display:none;
  }
}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {

}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}