/*==========  Mobile First Responsive  ==========*/

$above-large-desktop: 74.939rem;  // > 1199.024px
$large-desktop: 74.938rem;        // 1199.024px
$desktop: 59.938rem;              // 959.008px
$tablet: 47.938rem;               // 767.008px
$large-mobile: 29.938rem;         // 479.008px


/* Just the background images */
/* MOBILE */
@media only all and (min-width: $large-mobile) {
    .mod_kou_background_image_with_text {
        .text-holder {
            width: 30rem;
            font-size: 2rem;        
        }
        a {
            font-size: 1.3rem;
            padding: 0.6rem 1.3rem;            
        }
    }
}

@media only all and (min-width: $tablet) {
    .mod_kou_background_image_with_text {
        .text-holder {
            width: 100%;
            font-size: 2rem;        
        }
        a {
            padding: 0.5rem 1.1rem;
        }
    }
}


/* iPad Landscape */
/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
    .mod_kou_background_image_with_text {
        .text-holder {
        }
    }
}

@media only all and (min-width: $desktop) {
    .mod_kou_background_image_with_text {
        .text-holder {
            width: 100%;
            font-size: 2rem;        
        }
        a {
            padding: 0.5rem 1.1rem;
        }
    }
}


@media only all and (min-width: $large-desktop) {
    .mod_kou_background_image_with_text {
        .text-holder {
            width: 60rem;
            text-align: left;
            h1 {
                font-size: 2.4rem;
            }
            a {
                font-size: 1.6rem;  
                margin-top: 1rem;          
            }
        }    
    }
    #g-footer {
        .menuFooter {
            .g-title {
                min-height: 4.5rem;
            }
        }
    } 
}

@media only all and (min-width: $above-large-desktop) {
    .mod_kou_background_image_with_text {
        .text-holder {
            width: 75rem;
            font-size: 2rem;
        }    
    }
    #g-footer {
        .menuFooter {
            .g-title {
                min-height: 4.5rem;
            }
        }
    }    
}